{% include "header.html" %}
<section class="about-hero">
    <h1 class="about-hero__header">Наша История</h1>
  </section>
  <section class="begin">
    <div class="begin__wrapper"> 
      <h1 class="begin__header">Наше Начало</h1>
      <p class="begin__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, vel blanditiis at quos quisquam quia numquam modi, cumque unde, voluptates necessitatibus nam! Ullam pariatur facilis voluptate eum illo vel nesciunt.</p>
    </div>
    <img src="./static/images/begin-img.webp" alt="наша начало фото" class="begin__img">

  </section>
  <section class="object">
    <img src="./static/images/object-img.webp" alt="наши цели фото" class="object__img">
    <div class="object__wrapper"> 
      <h1 class="object__header">Наши цели</h1>
      <p class="object__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, vel blanditiis at quos quisquam quia numquam modi, cumque unde, voluptates necessitatibus nam! Ullam pariatur facilis voluptate eum illo vel nesciunt.</p>
    </div>
  </section>
{% include "footer.html" %}