{% include 'header.html' %}
    <section class="hero">
      <h1 class="hero__header">
        COFFEE CHERRY
      </h1>
    </section>
    <section class="about">
      <div class="about__wrapper">

        <h1 class="about__header">О НАС</h1>
        <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="#" class="about__btn btn">ПОДРОБНЕЕ</a>
      </div>
      <img src="./static/images/story-img.webp" alt="story image" class="about__img">
    </section>
    <section class="products">
      <h1 class="products__header">ПРОДУКЦИЯ</h1>
      <div class="products__wrapper">
          <figure class="wrapper__1">
            <img src="./static/images/latte.webp  " alt="Latte" class="products__img">
            <figcaption class="products__img__text">Латте</figcaption>
          </figure> 
          <figure class="wrapper__2">
            <img src="./static/images/latte.webp " alt="latte" class="products__img">
            <figcaption class="products__img__text">Латте</figcaption>
          </figure> 
          <figure class="wrapper__3">
            <img src="./static/images/latte.webp  " alt="latte" class="products__img">
            <figcaption class="products__img__text">Латте</figcaption>
          </figure> 
          <a href="#" class="btn products__button">МЕНЮ</a>
      </div>

    </section>
    <section class="locations">
      <div class="locations__wrapper">

        <h1 class="locations__header">КОФЕЙНИ</h1>
        <p class="locations__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit dolor sit amet</p>
          <a href="#" class="locations__btn btn">ПОДРОБНЕЕ</a>
      </div>
      <img srcset="./static/images/locations-small.webp 300w, ./static/images/locations.webp 1000w"
      sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
      alt="story image"
      src="./static/images/locations.webp"
      class="locations__img">
    </section>

    {% include 'footer.html' %}
