{% include "header.html" %}
<section class="location-page">
  <h1 class="location-page__header">АДРЕСА</h1>
  <div class="location-page__wrapper">
    <figure class="cafe">
      <img
        src="./static/images/locations-small.webp"
        alt="кофейня тц район"
        class="cafe__img"
      />
      <figcaption class="cafe__text-block">
        <div class="cafe__title">ТЦ Район</div>
        <div class="cafe__meta">
          <ion-icon
            src="./static/images/location-outline.svg"
            class="cafe__icon"
          ></ion-icon
          >Междуреченск, ул. Интернациональная 14
        </div>
        <div class="cafe__meta">
          <ion-icon
            src="./static/images/time-outline.svg"
            class="cafe__icon"
          ></ion-icon
          >Открыты с 9:00 до 21:00
        </div>
        <a
          href="https://yandex.ru/maps/org/rayon/101449980158/?ll=88.056572%2C53.691736&z=18.9"
          class="cafe__btn btn"
          >НА КАРТУ &rarr;</a
        >
      </figcaption>
    </figure>
    <figure class="cafe">
      <img
        src="./static/images/locations-small.webp"
        alt="кофейня тц район"
        class="cafe__img"
      />
      <figcaption class="cafe__text-block">
        <div class="cafe__title">ТРК Бель-су</div>
        <div class="cafe__meta">
          <ion-icon
            src="./static/images/location-outline.svg"
            class="cafe__icon"
          ></ion-icon
          >Междуреченск, Проспект Строителей 31
        </div>
        <div class="cafe__meta">
          <ion-icon
            src="./static/images/time-outline.svg"
            class="cafe__icon"
          ></ion-icon
          >Открыты с 9:00 до 21:00
        </div>
        <a
          href="https://yandex.ru/maps/org/torgovo_razvlekatelny_kompleks_bel_su/243911554975/?ll=88.072765%2C53.686133&z=18.9"
          class="cafe__btn btn"
          >НА КАРТУ &rarr;</a
        >
      </figcaption>
    </figure>
    <figure class="cafe">
      <img
        src="./static/images/locations-small.webp"
        alt="кофейня тц район"
        class="cafe__img"
      />
      <figcaption class="cafe__text-block">
        <div class="cafe__title">ТЦ Праздничный</div>
        <div class="cafe__meta">
          <ion-icon
            src="./static/images/location-outline.svg"
            class="cafe__icon"
          ></ion-icon>
          Междуреченск, Проспект Шахтёров 15А
        </div>
        <div class="cafe__meta">
          <ion-icon
            src="./static/images/time-outline.svg"
            class="cafe__icon"
          ></ion-icon
          >Открыты с 9:00 до 21:00
        </div>
        <a
          href="https://yandex.ru/maps/org/prazdnichny/223791275700/?ll=88.049199%2C53.694916&z=18"
          class="cafe__btn btn"
          >НА КАРТУ &rarr;</a
        >
      </figcaption>
    </figure>
  </div>
</section>

{% include "footer.html" %}
