{% include 'header.html' %}
<section class="menu">
  <nav class="menu__nav">
    <h1 class="menu__nav-header">МЕНЮ</h1>
    <ul class="menu__nav-list">
      <a href="#coffee" class="menu__nav-link">КОФЕ</a>
      <a href="#tea" class="menu__nav-link">ЧАЙ</a>
      <a href="#milk" class="menu__nav-link">МОЛОЧНЫЕ КОКТЕЙЛИ</a>
    </ul>
  </nav>
</section>
<section class="all-menu">
  <h1 class="all-menu__header" id="coffee">КОФЕ</h1>
  <ul class="all-menu__list">
    <figure class="all-menu__list__item">
      <img
        src="./static/images/latte.webp  "
        alt="latte"
        class="all-menu__list__img"
      />
      <figcaption class="all-menu__list__text">Латте</figcaption>
      <div class="all-menu__list__text-block">
        <span class="all-menu__list__text-block__size">290мл</span>
        <span class="all-menu__list__text-block__price">200руб</span>
      </div>
    </figure>
    <figure class="all-menu__list__item">
      <img
        src="./static/images/latte.webp  "
        alt="latte"
        class="all-menu__list__img"
      />
      <figcaption class="all-menu__list__text">Латте</figcaption>
      <div class="all-menu__list__text-block">
        <span class="all-menu__list__text-block__size">290мл</span>
        <span class="all-menu__list__text-block__price">200руб</span>
      </div>
    </figure>
    <figure class="all-menu__list__item">
      <img
        src="./static/images/latte.webp  "
        alt="latte"
        class="all-menu__list__img"
      />
      <figcaption class="all-menu__list__text">Латте</figcaption>
      <div class="all-menu__list__text-block">
        <span class="all-menu__list__text-block__size">290мл</span>
        <span class="all-menu__list__text-block__price">200руб</span>
      </div>
    </figure>
    <figure class="all-menu__list__item">
      <img
        src="./static/images/latte.webp  "
        alt="latte"
        class="all-menu__list__img"
      />
      <figcaption class="all-menu__list__text">Латте</figcaption>
      <div class="all-menu__list__text-block">
        <span class="all-menu__list__text-block__size">290мл</span>
        <span class="all-menu__list__text-block__price">200руб</span>
      </div>
    </figure>
  </ul>
</section>

<!-- TEA SECTION -->

<section class="all-menu">
  <h1 class="all-menu__header" id="tea">ЧАЙ</h1>
  <ul class="all-menu__list">
    <figure class="all-menu__list__item">
      <img
        src="./static/images/latte.webp  "
        alt="latte"
        class="all-menu__list__img"
      />
      <figcaption class="all-menu__list__text">МАТЧА</figcaption>
      <div class="all-menu__list__text-block">
        <span class="all-menu__list__text-block__size">290мл</span>
        <span class="all-menu__list__text-block__price">200руб</span>
      </div>
    </figure>
    <figure class="all-menu__list__item">
      <img
        src="./static/images/latte.webp  "
        alt="latte"
        class="all-menu__list__img"
      />
      <figcaption class="all-menu__list__text">МАТЧА</figcaption>
      <div class="all-menu__list__text-block">
        <span class="all-menu__list__text-block__size">290мл</span>
        <span class="all-menu__list__text-block__price">200руб</span>
      </div>
    </figure>
    <figure class="all-menu__list__item">
      <img
        src="./static/images/latte.webp  "
        alt="latte"
        class="all-menu__list__img"
      />
      <figcaption class="all-menu__list__text">МАТЧА</figcaption>
      <div class="all-menu__list__text-block">
        <span class="all-menu__list__text-block__size">290мл</span>
        <span class="all-menu__list__text-block__price">200руб</span>
      </div>
    </figure>
    <figure class="all-menu__list__item">
      <img
        src="./static/images/latte.webp  "
        alt="latte"
        class="all-menu__list__img"
      />
      <figcaption class="all-menu__list__text">МАТЧА</figcaption>
      <div class="all-menu__list__text-block">
        <span class="all-menu__list__text-block__size">290мл</span>
        <span class="all-menu__list__text-block__price">200руб</span>
      </div>
    </figure>
  </ul>
</section>

<!-- MILK SECTION -->

<section class="all-menu">
  <h1 class="all-menu__header" id="milk">МОЛОЧНЫЕ КОКТЕЙЛИ</h1>
  <ul class="all-menu__list">
    <figure class="all-menu__list__item">
      <img
        src="./static/images/latte.webp  "
        alt="latte"
        class="all-menu__list__img"
      />
      <figcaption class="all-menu__list__text">СНИКЕРС</figcaption>
      <div class="all-menu__list__text-block">
        <span class="all-menu__list__text-block__size">290мл</span>
        <span class="all-menu__list__text-block__price">200руб</span>
      </div>
    </figure>
    <figure class="all-menu__list__item">
      <img
        src="./static/images/latte.webp  "
        alt="latte"
        class="all-menu__list__img"
      />
      <figcaption class="all-menu__list__text">СНИКЕРС</figcaption>
      <div class="all-menu__list__text-block">
        <span class="all-menu__list__text-block__size">290мл</span>
        <span class="all-menu__list__text-block__price">200руб</span>
      </div>
    </figure>
    <figure class="all-menu__list__item">
      <img
        src="./static/images/latte.webp  "
        alt="latte"
        class="all-menu__list__img"
      />
      <figcaption class="all-menu__list__text">СНИКЕРС</figcaption>
      <div class="all-menu__list__text-block">
        <span class="all-menu__list__text-block__size">290мл</span>
        <span class="all-menu__list__text-block__price">200руб</span>
      </div>
    </figure>
    <figure class="all-menu__list__item">
      <img
        src="./static/images/latte.webp  "
        alt="latte"
        class="all-menu__list__img"
      />
      <figcaption class="all-menu__list__text">СНИКЕРС</figcaption>
      <div class="all-menu__list__text-block">
        <span class="all-menu__list__text-block__size">290мл</span>
        <span class="all-menu__list__text-block__price">200руб</span>
      </div>
    </figure>
  </ul>
</section>
{% include 'footer.html' %}
