@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");
// === MIXIN ===
@mixin roboto {
  font-family: "Roboto", sans-serif;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land-mid {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 88em) {
      @content;
    } //1400px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}
// === / MIXIN ===

// === VARIABLES ===

// === / VARIABLES ===
$main-color: #1b545d;
$main-color-secondary: #103036;
$white-color: #e9ecef;
$white-color-secondary: #adb5bd;
$header-color: #343a40;
$text-color: #495057;
// === COMMON ===
html {
  font-size: 62.5%;
  color: $text-color;
  background-color: #fdfdfd;

  @include respond(tab-land) {
    font-size: 50%;
  }
  @include respond(tab-port) {
    font-size: 45%;
  }
}
body {
  @include roboto;
}
.container {
  display: grid;
  grid-template-rows: min-content 100vh repeat(4, min-content);
  grid-template-columns:
    [full-start] repeat(2, minmax(min-content, 1fr))
    [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end])
    [center-end] repeat(2, minmax(min-content, 1fr))
    [full-end];
}
.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 3rem;
    display: inline-block;
    border-radius: 3rem;
    transition: all 0.2s;
    background-color: $main-color;
    border: none;
    cursor: pointer;
    font-size: 2.6rem;
    color: $white-color;
    text-decoration: none;
    font-weight: 700;
    @include respond(phone) {
      font-size: 2rem;
    }
  }
  &:hover,
  &:active {
    background-color: darken($main-color, 8%);
    color: $white-color-secondary;
  }
}
// === header ===
.header {
  position: sticky;
  top: 0;
  background-color: $main-color;
  grid-column: full-start / full-end;
  z-index: 5000;
}
.logo {
  height: 11rem;
  width: 11rem;
}
.nav {
  display: grid;
  grid-template-columns: min-content;
  // grid-template-columns: repeat(12, 1fr);
  &__logo {
    height: 11rem;
    width: 11rem;
  }
  &__list {
    grid-column: 6 / 10;
    display: flex;
    list-style-type: none;
    font-size: 2.6rem;
    justify-content: space-evenly;
    align-items: center;
    @include respond(phone) {
      grid-column: 2 / 10;
      font-size: 1.8rem;
      padding: 0.5rem;
    }
    &__links:link,
    &__links:visited {
      color: $white-color;
      text-decoration: none;
      font-weight: 700;
      transition: all 0.2s;
    }
    &__links:hover {
      color: $white-color-secondary;
      transform: translateY(-0.5rem);
    }
  }
  &__link:link,
  &__link:visited {
    margin-left: 3rem;
    grid-column: 3 / 4;
    @include respond(tab-land) {
      grid-column: 1 / 2;
      margin-left: 0.5rem;
    }
  }
}
// === / header ===
// === hero ===
.hero {
  background-image: url("../images/hero-image.webp");
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: full-start / full-end;
  display: flex;
  align-items: center;
  justify-content: center;
  @include respond(tab-land) {
    background-image: url("../images/hero-image-small.webp");
  }

  &__header {
    text-align: center;
    color: $white-color;
    font-size: 11.6rem;
    font-weight: 700;
    @include respond(tab-land) {
      font-size: 9rem;
    }
  }
}
// === / hero ===
// === about ===
.about {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 10rem;
  @include respond(tab-port) {
    gap: 5rem;
    grid-template-columns: 50% 50%;
  }

  @include respond(phone) {
    grid-template-columns: minmax(min-content, 1fr);
    gap: 2rem;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include respond(phone) {
      grid-row: 2 / 3;
    }
  }
  &__header {
    margin-bottom: 1rem;
    font-size: 7.2rem;
    color: $header-color;
    font-weight: 700;
    @include respond(tab-land) {
      font-size: 5rem;
      margin-bottom: 0;
    }
    @include respond(phone) {
      font-size: 3.8rem;
    }
  }
  &__text {
    font-size: 2.4rem;
    line-height: 3rem;
    text-align: left;
    @include respond(tab-land) {
      margin: 3rem 0;
    }
    @include respond(phone) {
      font-size: 2rem;
    }
  }
  &__btn {
    align-self: flex-start;
    @include respond(phone) {
      align-self: center;
    }
  }

  &__img {
    margin-top: 5rem;
    border: $white-color solid 1px;
    border-radius: 5rem;
    height: auto;
    width: 100%;
  }
}
// === / about ===
// === products ===
.products {
  grid-column: center-start / center-end;
  margin: 20rem 0;
  &__header {
    font-size: 6.6rem;
    color: $header-color;
    font-weight: 700;
    @include respond(tab-land) {
      font-size: 5rem;
    }
    @include respond(phone) {
      font-size: 3.8rem;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    align-items: center;
    @include respond(tab-land-mid) {
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }
  }
  &__img {
    height: auto;
    width: 100%;
    border-radius: 3rem;

    &__text {
      font-size: 2.6rem;
      text-align: center;
      text-transform: uppercase;
      margin: 3rem 0;
    }
  }
  &__button {
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0 auto;
    @include respond(tab-land-mid) {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
  }
}

// === / products ===
// === locations ===
.locations {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 10rem;
  margin-bottom: 25rem;
  @include respond(tab-port) {
    gap: 5rem;
    grid-template-columns: 50% 50%;
  }
  @include respond(phone) {
    grid-template-columns: minmax(min-content, 1fr);
    gap: 2rem;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include respond(phone) {
      grid-row: 2 / 3;
    }
  }
  &__header {
    margin-bottom: 1rem;
    font-size: 7.2rem;
    color: $header-color;
    font-weight: 700;
    @include respond(tab-land) {
      font-size: 5rem;
      margin-bottom: 0;
    }
    @include respond(phone) {
      font-size: 3.8rem;
    }
  }
  &__text {
    font-size: 2.4rem;
    line-height: 3rem;
    text-align: left;
    @include respond(tab-land) {
      margin-bottom: 4rem;
    }
    @include respond(phone) {
      font-size: 2rem;
    }
  }
  &__btn {
    margin-top: 4rem;
    align-self: flex-start;
    @include respond(tab-land) {
      margin-top: 1rem;
      align-self: center;
    }
  }
  &__img {
    margin-top: 5rem;
    border: $white-color solid 1px;
    border-radius: 5rem;
    height: 100%;
    width: 100%;
    @include respond(tab-port) {
      margin-top: 0;
    }
  }
}
// === / locations ===
// === footer ===
.footer {
  grid-column: full-start / full-end;
  z-index: 5000;
  &__link:link,
  &__link:visited {
    text-decoration: none;
    font-size: 5.2rem;
    color: $text-color;
    display: inline-block;
    transition: all 0.2s;
    @include respond(phone) {
      font-size: 4.2rem;
    }
  }
  &__link:hover,
  &__link:active {
    color: #343a40;
    transform: translateY(-0.5rem);
  }
  &__insta {
    font-size: 7rem;
  }
  &__wrapper {
    background-color: $main-color;
  }
  &__nav {
    padding: 5rem;
    @include respond(phone) {
      padding: 2rem;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(phone) {
      padding-left: 0.5rem;
    }
    &__link:link,
    &__link:visited {
      color: $white-color;
      text-decoration: none;
      font-size: 2rem;
      margin-left: 8rem;
      transition: all 0.2s;
      @include respond(phone) {
        margin-left: 0.5rem;
        font-size: 1.5rem;
        padding-left: 0.5rem;
      }
    }
    &__link:hover,
    &__link:active {
      color: $white-color-secondary;
      transform: translateY(-0.5rem);
    }
  }
}
// === ABOUT-HERO ===
.about-hero {
  grid-column: full-start / full-end;
  background-image: url("../images/about-header.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  &__header {
    font-size: 9rem;
    text-align: center;
    color: $white-color;
    text-transform: uppercase;
  }
}
.begin {
  margin: 30rem 0;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 10rem;
  @include respond(tab-land) {
    margin: 20rem 0;
    gap: 7rem;
  }
  @include respond(tab-port) {
    grid-template-columns: 50% 50%;
    gap: 5rem;
  }
  @include respond(phone) {
    grid-template-columns: minmax(min-content, 1fr);
    gap: 2rem;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include respond(tab-port) {
      justify-content: flex-start;
    }
    @include respond(phone) {
      grid-row: 2 / 3;
    }
  }
  &__header {
    margin-bottom: 1rem;
    font-size: 7.2rem;
    color: $header-color;
    font-weight: 700;
    text-transform: uppercase;
    @include respond(tab-land) {
      font-size: 6.5rem;
    }
    @include respond(tab-port) {
      font-size: 6rem;
    }
  }
  &__text {
    font-size: 2.4rem;
    line-height: 3rem;
    text-align: left;
    @include respond(tab-land) {
      font-size: 2rem;
    }
    @include respond(tab-port) {
      font-size: 1.7rem;
    }
    @include respond(phone) {
      margin-bottom: 3rem;
    }
  }
  &__img {
    max-width: 100%;
    height: auto;
    border-radius: 3rem;
  }
}
// === / ABOUT-HERO ===
// === OBJECT ===
.object {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: 50% 35%;
  gap: 10rem;
  margin-bottom: 20rem;
  @include respond(tab-land) {
    margin-bottom: 10rem;
    gap: 7rem;
  }
  @include respond(tab-port) {
    grid-template-columns: 50% 50%;
    gap: 5rem;
  }
  @include respond(phone) {
    grid-template-columns: minmax(min-content, 1fr);
    gap: 2rem;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include respond(tab-port) {
      justify-content: flex-start;
    }
    @include respond(phone) {
      grid-row: 2 / 3;
    }
  }
  &__header {
    margin-bottom: 1rem;
    font-size: 7.2rem;
    color: $header-color;
    font-weight: 700;
    text-transform: uppercase;
    @include respond(tab-land) {
      font-size: 6.5rem;
    }
    @include respond(tab-port) {
      font-size: 6rem;
    }
  }
  &__text {
    font-size: 2.4rem;
    line-height: 3rem;
    text-align: left;
    @include respond(tab-land) {
      font-size: 2rem;
    }
    @include respond(tab-port) {
      font-size: 1.7rem;
    }
    @include respond(phone) {
      margin-bottom: 3rem;
    }
  }
  &__img {
    max-width: 100%;
    height: auto;
    border-radius: 3rem;
  }
}
// === / OBJECT ===

// === footer ===
.footer {
  grid-column: full-start / full-end;
  &__link:link,
  &__link:visited {
    text-decoration: none;
    font-size: 5.2rem;
    color: $text-color;
    display: inline-block;
    transition: all 0.2s;
    @include respond(phone) {
      font-size: 4.2rem;
    }
  }
  &__link:hover,
  &__link:active {
    color: #343a40;
    transform: translateY(-0.5rem);
  }

  &__wrapper {
    background-color: $main-color;
  }
  &__nav {
    padding: 5rem;
    @include respond(phone) {
      padding: 2rem;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(phone) {
      padding-left: 0.5rem;
    }
    &__link:link,
    &__link:visited {
      color: $white-color;
      text-decoration: none;
      font-size: 2rem;
      margin-left: 8rem;
      transition: all 0.2s;
      @include respond(phone) {
        margin-left: 0.5rem;
        font-size: 1.5rem;
        padding-left: 0.5rem;
      }
    }
    &__link:hover,
    &__link:active {
      color: $white-color-secondary;
      transform: translateY(-0.5rem);
    }
  }
}
ion-icon {
  font-size: 3rem;
  @include respond(phone) {
    font-size: 2rem;
  }
}
p {
  text-align: center;
  margin-bottom: 10rem;
}
.copyright {
  color: #ced4da;
  margin-bottom: 0;
}
// === ABOUT US SECTION === //
// === LOCATIONS PAGE === //
.location-page {
  align-self: center;
  justify-self: center;
  grid-column: center-start / center-end;
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9rem;
    color: $header-color;
    @include respond(tab-port) {
      font-size: 7rem;
    }
    @include respond(phone) {
      font-size: 5rem;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    grid-template-rows: repeat(2, min-content);
    gap: 1rem;
  }
}
.cafe {
  border: solid 0.2rem #1b545d;
  display: flex;
  flex-direction: row;
  border-radius: 3rem;
  &__img {
    align-self: center;
    padding: 1rem;
    border-radius: 3rem;
    max-width: 20rem;
    height: 20rem;
    @include respond(phone) {
      height: 12rem;
      max-width: 12rem;
    }
  }
  &__text-block {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include respond(phone) {
      line-height: 3rem;
    }
  }
  &__title {
    font-size: 2.5rem;
    color: #343a40;
    @include respond(tab-port) {
      font-size: 2rem;
    }
  }
  &__meta {
    margin-bottom: 0;
    color: #495057;
    font-size: 1.7rem;
    text-align: left;
  }
  &__icon {
    font-size: 2rem;
    @include respond(phone) {
      font-size: 1.5rem;
    }
  }
  &__btn {
    margin-top: 2rem;
    font-size: 1.5rem;
    align-self: center;
    @include respond(tab-port) {
      margin-top: 1.2rem;
      font-size: 1rem;
    }
  }
}
// === / LOCATIONS PAGE === //
// === MENU PAGE === ///
.menu {
  background-image: url("../images/menu-hero.webp");
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: full-start / full-end;
  display: flex;
  align-items: center;
  justify-content: center;
  &__nav {
    &-header {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 9rem;
      color: $white-color;
      @include respond(tab-port) {
        font-size: 7rem;
      }
      @include respond(phone) {
        font-size: 5rem;
      }
    }
    &-list {
      padding-left: 0;
      list-style: none;
      display: flex;
      width: 100rem;
      justify-content: space-between;
      @include respond(tab-port) {
        flex-direction: column;
        height: 30rem;
        align-items: center;
        justify-content: space-between;
      }
      @include respond(phone) {
        width: 100%;
      }
    }
    &-link:link,
    &-link:visited {
      text-decoration: none;
      font-size: 5rem;
      color: $white-color-secondary;
      @include respond(tab-port) {
        font-size: 4.5rem;
      }
      @include respond(phone) {
        font-size: 3.8rem;
      }
    }
  }
}
.all-menu {
  grid-column: center-start / center-end;
  margin: 10rem 0;
  &__header {
    font-size: 9rem;
    color: $header-color;
    @include respond(tab-port) {
      font-size: 7rem;
    }
    @include respond(phone) {
      font-size: 5rem;
    }
  }
  &__list {
    padding-left: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 2rem;
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: solid 0.2rem #1b545d;
      border-radius: 1rem;
    }
    &__img {
      max-width: 100%;
      height: auto;
      border-radius: 1rem;
    }
    &__text {
      margin-top: 2.5rem;
      font-size: 4rem;
      color: $main-color-secondary;
      @include respond(tab-land) {
        font-size: 3rem;
      }
      @include respond(phone) {
        font-size: 2rem;
      }
    }
    &__text-block {
      margin: 2.5rem 0;
      font-size: 2.5rem;
      color: $main-color-secondary;
      width: 40rem;
      display: flex;
      justify-content: space-evenly;
      @include respond(tab-port) {
        font-size: 2rem;
      }
      @include respond(phone) {
        font-size: 1.8rem;
      }
      &__size {
      }
      &__price {
      }
    }
  }
}

// === / MENU PAGE === ///
// === CARD PAGE === ///
.card {
  grid-column: center-start / center-end;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &__img {
    border-radius: 1rem;
    width: 40rem;
    height: 40rem;
  }
  &__text-block {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 40rem;
    justify-content: space-evenly;
    &__type {
      font-size: 2rem;
      color: $main-color;
    }
    &__name {
      font-size: 8rem;
      color: $main-color-secondary;
    }
    &__desc {
      font-size: 1.6rem;
      color: $main-color;
    }
    &__size {
      font-size: 2rem;
      color: $main-color;
    }
    &__price {
      font-size: 2rem;
      color: $main-color;
    }
    &__price-block {
      display: flex;
      justify-content: space-around;
    }
  }
}
// === / CARD PAGE === ///
